<style>
    #main-img{
        width:  260px ;
        height: 350px ;
        border: 1px solid;
        border-radius: 10px;
    }
    .container{
        margin-top: 100px;
    }
    .img{
        width: 70px;
        height: 70px;
        margin: 2px;
        margin-left: 5px;
        border-radius: 10px;
        border: 1px solid;
    }
    .img-container{
        margin: 2px ;
        
    }
    .focus{
        border: 2px solid rgb(23, 54, 64) !important;
    }
    button{
        border: none;
        background: none;
        padding: 0;
    }
</style>
<div class="container">
    <div class="row ">
        <div class=" col-3 col-lg-2 ">
            <div class="row ">       
                        <button onclick="changeImage('{{id}}','1')">
                        <img class="img focus" id="img1" src="/product-image/{{id}}.jpg" alt="">
                        </button>   
                    
            </div>
            <div class="row">
                
                    <button onclick="changeImage('{{id}}','2')">
                        <img class="img" id="img2" src="/product-image/{{id}}2.jpg" alt="">
                    </button>    
                
            </div>
            <div class="row">
               
                    <button onclick="changeImage('{{id}}','3')">
                    <img class="img " id="img3" src="/product-image/{{id}}3.jpg" alt="">
                    </button>   
                    
            </div>
            <div class="row">
               
                    <button onclick="changeImage('{{id}}','4')">
                        <img class="img " id="img4" src="/product-image/{{id}}4.jpg" alt="">
                    </button>
                 
            </div>
        
         
                 
            
        </div>
        <div class="imgContainer  col-7  col-lg-5  ">
            <img id="main-img" src="/product-image/{{id}}.jpg" alt="">
             <div class="row text-center mt-3">
                    <button class="btn button" onclick="addToCart('{{id}}',{{user.id}})"
                style="color: rgb(255, 255, 255); width:90px;margin-left:25%;">add to cart</button></div>
        </div>
        
        
        <div class="col-12  col-lg-5">
            <div class="row text-center m-1" >  
                <div class="col-12" style="border: 1px solid; padding: 10px;margin: 2px; margin-bottom: 10px; border-radius: 5px;margin-top: 10px;">
                <h3>{{product.name}}</h3>
                <p class="text-left" style="align-content: start;">Price: &#8377; {{product.price}}</p>
                </div>
            </div>
            <div class="row m-1" >
                <div class="col-12"  style="border: 1px solid; padding: 10px;margin: 2px; border-radius: 5px;">
                <h5>Select Size</h5>
                
                <button style="width: 50px;height: 50px;background-color: rgb(255, 255, 255);margin: 3px; margin-left: 10px;">L</button>
                <button style="width: 50px;height: 50px;background-color: rgb(255, 255, 255);margin: 3px;"></button>
                <button style="width: 50px;height: 50px;background-color: rgb(255, 255, 255);margin: 3px;"></button>
                <button style="width: 50px;height: 50px;background-color: rgb(255, 255, 255);margin: 3px;"></button>
                
                </div>
            </div>
            <div class="row m-1">
                <div class="col-12 " style="border: 1px solid; padding: 10px;margin: 2px; border-radius: 5px;">
                    <h4>Product Details</h4>
                    {{product.description}}
                </div>
            </div>
            
        </div>
       
    </div>
    <div class="row mb-5">
      
    </div>
</div>
<section class=" section pt-3">
    <div class="container">
      <div class="row ">
        <h4 style="color: rgb(59, 58, 58);">Peaple also viewed</h4>
        
        {{#each same}}
        <div class="col-6 col-md-4 col-lg-2 mt-3 text-center fixed " >
        <a id="load" href="/detailed-view/{{this._id}}">
          <div class="card  border-shadow "style="">
            <img src="/product-image/{{this._id}}.jpg" class="card-img-top" style="height:13em" alt="">
            <p class="card-text">{{this.name}}</p>
            <div class="card-body pt-0" style="line-height: 3px;">
              <p class="card-text">Rs.{{this.price}}/-</p></div>
              <div class="pt-0"><p class="card-text mt-0">{{this.description}}</p></div> 

              
              <div class="mb-2"><button class="btn button" onclick="addToCart('{{this._id}}',{{user}})"  style="color: rgb(255, 255, 255);" cl>add to cart</button></div>
              
               
          </div>
        </a>
        </div>
        {{/each}}

      </div>
    </div>
  </section>
  
<script>
     var rowdata="{{product.description}}"
     console.log(rowdata)
      const paragraphs = rowdata.split('\r\n+\r\n');

        // Create a formatted HTML structure
        const formattedHTML = paragraphs.map(paragraph => `<p>${paragraph}</p>`).join('');

        // Display the formatted HTML in the 'overview' div
        const overviewDiv = document.getElementById('overview');
        overviewDiv.innerHTML = formattedHTML;
</script>
<script>
   
    var focus='img1'
   function changeImage(id,img){
    console.log('onclick workin')
    var src=document.getElementById('img'+img).src
    console.log(src)
    document.getElementById('main-img').src=src
    document.getElementById(focus).classList.remove('focus')
    document.getElementById('img'+img).classList.add('focus')
    focus='img'+img;
    
    }

</script>