<style>
  a{
    text-decoration: none;
    display: inline;
  }
  .dsc{
    height: 34px;
    overflow: hidden;
    font-size: 15px;
    line-height: 17px;
  }
</style>
<section class=" section pt-3 ">
    <div class="container-fluid ">
      <div class="row text-center align-item-center">
        {{#each matchedProducts}}
        
        <div class="col-6 col-md-4 col-lg-2 mt-3 text-center fixed " >
          <a href="/detailed-view/{{this.productData._id}}">
          <div class="card  border-shadow "style="">
            <img src="/product-image/{{this.productData._id}}.jpg" class="card-img-top" style="height:13em" alt="">
            <p class="card-text">{{this.name}}</p>
            <div class="card-body pt-0" style="line-height: 3px;">
              <p class="card-text">Rs.{{this.productData.price}}/-</p></div>
              <div class="pt-0 dsc"><p class="card-text mt-0">{{this.productData.description}}</p></div>  
              <div class="mb-2"><button class="btn button p-1" onclick="addToCart('{{this.productData._id}}',{{user}})"  style="color: rgb(255, 255, 255);" >Add to cart</button></div>
               
          </div>
           </a>
        </div>
       
        {{/each}}

      </div>
    </div>
  </section>