<section class="section pt-1">
  <div class="container-fluid text-center">
    <div class="scrolling-wrapper">
      <div class="text-center p-1" style="display: inline-block;">
        <a href="/offer" style="text-decoration: none;"><img style="width: 80px;height: 80px;"
            src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/50379f65f7b59622.png?q=100" alt="" style="">
          <p>Offerce</p>
        </a>
      </div>
      <div class="text-center p-1" style="display: inline-block;">
        <a href="/mobiles-tablets" style="text-decoration: none;"><img style="width: 80px;height: 80px;"
            src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/0a0243119f02f7a5.png?q=100" alt="" style="">
          <p>Mobiles & Tablets</p>
        </a>
      </div>
      <div class="text-center p-1" style="display: inline-block;">
        <a href="/electronics" style="text-decoration: none;"><img style="width: 80px;height: 80px;"
            src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/da4491af4ee551d6.png?q=100" alt="" style="">
          <p style="size: 5px;">Electronics</p>
        </a>
      </div>
      <div class="text-center p-1" style="display: inline-block;">
        <a href="/tv-appliances" style="text-decoration: none;"><img style="width: 80px;height: 80px;"
            src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/7a9da987f315df35.png?q=100" alt="" style="">
          <p>TVs & Appliances</p>
        </a>
      </div>

      <div class="text-center p-1" style="display: inline-block;">
        <a href="/fashion" style="text-decoration: none;"><img style="width: 80px;height: 80px;"
            src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/f7b2a4eeb35a8c9f.png?q=100" alt="" style="">
          <p>Fashion</p>
        </a>
      </div>
      <div class="text-center p-1" style="display: inline-block;">
        <a href="/beuty" style="text-decoration: none;"><img style="width: 80px;height: 80px;"
            src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/e83a5f27b01d9a7e.png?q=100" alt="" style="">
          <p>Beuty</p>
        </a>
      </div>
      <div class="text-center p-1" style="display: inline-block;">
        <a href="/home-appliances" style="text-decoration: none;"><img style="width: 80px;height: 80px;"
            src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/a8cfa33c7206ae57.png?q=100" alt="" style="">
          <p>Home & Appliences</p>
        </a>
      </div>
      <div class="text-center p-1" style="display: inline-block;">
        <a href="/furniture" style="text-decoration: none;"><img style="width: 80px;height: 80px;"
            src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/4e0bdf8567ecb960.png?q=100" alt="" style="">
          <p>Furniture</p>
        </a>
      </div>

    </div>

  </div>

</section>
<section style="padding-top: 0;">
  <div class="container-fluid text-center" >
     <img src="https://images.picxy.com/cache/2020/6/18/c0ada3c718e235ccba0dfe97dcf1bd27.webp" id="ad-img" width="100%" height="300" alt="">
    
      <input type="radio" name="slide" class="slide" id="img1">
      <input type="radio" name="slide" class="slide" id="img2">
      <input type="radio" name="slide" class="slide" id="img3">
  </div>
</section>

<section class="">
  <div class="container-fluid text-center">
    <h3>Smart Phones</h3>
    <div class="scrolling-wrapper">
      {{#each product}}
      {{#product_check this 'smart phone'}}
      <div class="col-6 col-md-2 product">
        <div class="card-outer m-2" style="border: none; ">
          <div class="card border border-shadow card-outer">
            <img src="/product-image/{{this._id}}.jpg" class="card-img-top" style="height:13em" alt="">
            <p class="card-text">{{this.name}}</p>
            <div class="card-body pt-0" style="line-height: 3px;">
              <p class="card-text">Rs.{{this.price}}/-</p>
            </div>
            <div class="pt-0 description-text" style="display: block;overflow: break-word;">
              <p class="card-text mt-0">{{this.description}}</p>
            </div>
            <div class="mb-2"><button class="btn button" onclick="addToCart('{{this._id}}',{{user}})"
                style="color: rgb(255, 255, 255);" cl>add to cart</button></div>
          </div>
        </div>
      </div>
      {{/product_check}}
      {{/each}}
    </div>
    <hr>
  </div>
</section>

<section class="">
  <div class="container-fluid text-center">
    <h3>Electronics</h3>
    <div class="scrolling-wrapper">
      {{#each product}}
      {{#product_check this 'electronics'}}
      <div class="col-6 col-md-2 product">
        <div class="card-outer m-2" style="border: none; ">
          <div class="card border border-shadow card-outer">
            <img src="/product-image/{{this._id}}.jpg" class="card-img-top" style="height:13em" alt="">
            <p class="card-text">{{this.name}}</p>
            <div class="card-body pt-0" style="line-height: 3px;">
              <p class="card-text">Rs.{{this.price}}/-</p>
            </div>
            <div class="pt-0 description-text" style="display: block;overflow: break-word;">
              <p class="card-text mt-0">{{this.description}}</p>
            </div>
            <div class="mb-2"><button class="btn button" onclick="addToCart('{{this._id}}',{{user}})"
                style="color: rgb(255, 255, 255);" cl>add to cart</button></div>
          </div>
        </div>
      </div>
      {{/product_check}}
      {{/each}}
    </div>
  </div>
</section>
<div class="container-fluid">
<hr> 
</div>


<section class="">
  <div class="container-fluid text-center">
    <h3>Cloths</h3>
    <div class="scrolling-wrapper">
      {{#each product}}
      <div class="col-6 col-md-2 product">
        <div class="card-outer m-2" style="border: none; ">
          <div class="card border border-shadow card-outer">
            <img src="/product-image/{{this._id}}.jpg" class="card-img-top" style="height:13em" alt="">
            <p class="card-text">{{this.name}}</p>
            <div class="card-body pt-0" style="line-height: 3px;">
              <p class="card-text">Rs.{{this.price}}/-</p>
            </div>
            <div class="pt-0 description-text" style="display: block;overflow: break-word;">
              <p class="card-text mt-0">{{this.description}}</p>
            </div>
            <div class="mb-2"><button class="btn button" onclick="addToCart('{{this._id}}',{{user}})"
                style="color: rgb(255, 255, 255);" cl>add to cart</button></div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>
<section>
  <div class="container-fluid">
    <div style="height: 200px;background-color: black;color:white;display:flex;justify-content: center;;align-items: center">
      <h3>THAHIR</h3>
    </div>
  </div>
</section>
<section class="">
  <div class="container-fluid text-center">
    <h3></h3>
    <div class="scrolling-wrapper">
      {{#each product}}
      {{#product_check this 'mobile'}}
      <div class="col-6 col-md-2 product">
        <div class="card-outer m-2" style="border: none; ">
          <div class="card border border-shadow card-outer">
            <img src="/product-image/{{this._id}}.jpg" class="card-img-top" style="height:13em" alt="">
            <p class="card-text">{{this.name}}</p>
            <div class="card-body pt-0" style="line-height: 3px;">
              <p class="card-text">Rs.{{this.price}}/-</p>
            </div>
            <div class="pt-0 description-text" style="display: block;overflow: break-word;">
              <p class="card-text mt-0">{{this.description}}</p>
            </div>
            <div class="mb-2"><button class="btn button" onclick="addToCart('{{this._id}}',{{user}})"
                style="color: rgb(255, 255, 255);" cl>add to cart</button></div>
          </div>
        </div>
      </div>
      {{/product_check}}
      {{/each}}
    </div>
  </div>
  <div class="custom-alert" id="custom-alert">
    <div class="alert-content">
      <h2 id="cus-t">Ecommerce Application</h2>
      <p id="cus-m">Item already exist in cart ,item count incremented</p>
      <button id="close-alert">Close</button>
    </div>
  </div>
</section>
<script>
  const customAlert = document.getElementById("custom-alert");
const closeAlertButton = document.getElementById("close-alert");
closeAlertButton.addEventListener("click", () => {
  customAlert.style.display = "none";
});
</script>
<script>
  var i=0
  document.getElementById('img1').checked=true
  var images=['/project-images/ad2.avif','/project-images/ad2.avif']
  var cur=document.getElementById('ad-img').src
  images.push(cur)
  setInterval(()=>{
      document.getElementById('ad-img').src=images[i]
      i++
    if(i==images.length) i=0
    if(i==0){
      document.getElementById('img1').checked=true
    }else if(i==1){
      document.getElementById('img2').checked=true
    }else{
      document.getElementById('img3').checked=true
    }
  },4000)
</script>