<style>
.section-border{
  background-color: rgb(253, 253, 253);
  margin: 5px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  
}
#scroll-btn-rigt{
  position: absolute;
  top: 690px;
  right: 10px;
  z-index: 1;
  width: 33px;
  height: 100px;
  background-color: rgb(246, 246, 246);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#scroll-btn-left{
  position: absolute;
  top: 690px;
  left: 10px;
  z-index: 1;
  width: 33px;
  height: 100px;
  background-color: rgb(246, 246, 246);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#scroll-btn-rigt .div1{
  width:10px;
  height: 2px;
  background-color: black;
  transform: rotate(50deg);
  margin-bottom: 5px;
  margin-left: 3px;
}
#scroll-btn-rigt .div2{
  width:10px;
  height: 2px;
  background-color: black;
  transform: rotate(-50deg);
  margin-left: 3px;
}
#scroll-btn-left .div1{
  width:10px;
  height: 2px;
  background-color: black;
  transform: rotate(50deg);
  margin-bottom: 10px;
  margin-left: 3px;
}
#scroll-btn-left .div2{
  width:10px;
  height: 2px;
  background-color: black;
  transform: rotate(-50deg);
  margin-bottom: 4px;
  margin-left: 3px;
}


#scroll1{
scroll-behavior: smooth ;
}
#scroll-btn2-left{
  position: absolute;
  top: 1140px;
  left: 10px;
  z-index: 1;
 width: 28px;
  height: 70px;
  background-color: rgb(246, 246, 246);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#scroll-btn2-rigt{
  position: absolute;
  top: 1140px;
  right: 10px;
  z-index: 1;
  width: 28px;
  height: 70px;
  background-color: rgb(246, 246, 246);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#scroll-btn2-rigt .div1{
  width:10px;
  height: 2px;
  background-color: black;
  transform: rotate(50deg);
  margin-bottom: 5px;
  margin-left: 3px;
}
#scroll-btn2-rigt .div2{
  width:10px;
  height: 2px;
  background-color: black;
  transform: rotate(-50deg);
  margin-left: 3px;
}
#scroll-btn2-left .div1{
  width:10px;
  height: 2px;
  background-color: black;
  transform: rotate(50deg);
  margin-bottom: 8px;
  margin-left: 3px;
}
#scroll-btn2-left .div2{
  width:10px;
  height: 2px;
  background-color: black;
  transform: rotate(-50deg);
  margin-left: 3px;
  margin-bottom: 5px;
}
.ic-img{
  width: 50px;
  height: 50px;
}
.options{
  position: absolute;
  background-color: white;
  z-index: 1;
  top:180px;
  width: 70%;
  height: 250px;
  left:50%;
  transform: translateX(-50%);
  border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: none;
} 


</style>
<!--<div id="content" class="options text-center" style="" onmouseout="hide()"><a href="#">hello</a></div>-->
<section class="section pt-1">
  <div class="container-fluid text-center">
    <div class="scrolling-wrapper">
      <div class="text-center p-1" style="display: inline-block;"  >
        <a href="/offer" style="text-decoration: none;"><img style="width: 80px;height: 80px;"
            src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/50379f65f7b59622.png?q=100" alt="" style="">
          <p>Offerce</p>
        </a>
      </div>
      <div class="text-center p-1" style="display: inline-block;" >
        <a href="/mobiles-tablets" style="text-decoration: none;"><img style="width: 80px;height: 80px;"
            src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/0a0243119f02f7a5.png?q=100" alt="" style="">
          <p>Mobiles & Tablets</p>
        </a>
      </div>
      <div class="text-center p-1" style="display: inline-block;" >
        <a href="/electronics" style="text-decoration: none;"><img style="width: 80px;height: 80px;"
            src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/da4491af4ee551d6.png?q=100" alt="" style="">
          <p style="size: 5px;">Electronics</p>
        </a>
      </div>
      <div class="text-center p-1" style="display: inline-block;" >
        <a href="/tv-appliances" style="text-decoration: none;"><img style="width: 80px;height: 80px;"
            src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/7a9da987f315df35.png?q=100" alt="" style="">
          <p>TVs & Appliances</p>
        </a>
      </div>

      <div class="text-center p-1" style="display: inline-block;" >
        <a href="/fashion" style="text-decoration: none;"><img style="width: 80px;height: 80px;"
            src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/f7b2a4eeb35a8c9f.png?q=100" alt="" style="">
          <p>Fashion</p>
        </a>
      </div>
      <div class="text-center p-1" style="display: inline-block;" >
        <a href="/beuty" style="text-decoration: none;"><img style="width: 80px;height: 80px;"
            src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/e83a5f27b01d9a7e.png?q=100" alt="" style="">
          <p>Beauty</p>
        </a>
      </div>
      <div class="text-center p-1" style="display: inline-block;" >
        <a href="/home-appliances" style="text-decoration: none;"><img style="width: 80px;height: 80px;"
            src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/a8cfa33c7206ae57.png?q=100" alt="" style="">
          <p>Home & Appliences</p>
        </a>
      </div>
      <div class="text-center p-1" style="display: inline-block;" >
        <a href="/furniture" style="text-decoration: none;"><img style="width: 80px;height: 80px;"
            src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/4e0bdf8567ecb960.png?q=100" alt="" style="">
          <p>Furniture</p>
        </a>
      </div>

    </div>

  </div>

</section>
<section style="padding-top: 0;">
  <div class="container-fluid text-center" >
     <img src="/project-images/ad1.jpg" id="ad-img" width="100%" height="300" alt="">
    
      <input type="radio" name="slide" class="slide" id="img1">
      <input type="radio" name="slide" class="slide" id="img2">
      <input type="radio" name="slide" class="slide" id="img3">
  </div>
</section>

<section class="section-border m-2 mb-2">
  <div class="container-fluid text-center">
    <h3>Smart Phones</h3>
    <button onclick="scroll_right()" id="scroll-btn-rigt"><div class="div1"></div><div class="div2"></div></button>
    <button onclick="scroll_left()" id="scroll-btn-left"><div class="div2"></div><div class="div1"></div></button>
    <div class="scrolling-wrapper m-4" id="scroll1">
      {{#each product}}
      {{#product_check this 'Smartphones'}}
      <div class="col-6 col-md-2 product">
        <div class="card-outer m-1" style="border: none; ">
          <div class="card border border-shadow card-outer">
        <a class="load" href="/detailed-view/{{this.productData._id}}" >
            <img src="/product-image/{{this.productData._id}}.jpg" class="card-img-top" style="height:13em" alt="">
            <p class="card-text">{{this.productData.name}}</p>
            <div class="card-body pt-0" style="line-height: 3px;">
              <p class="card-text">Rs.{{this.productData.price}}/-</p>
            </div>
            <div class="pt-0 description-text" style="display: block;overflow: break-word;">
              <p class="card-text mt-0">{{this.productData.description}}</p>
            </div>
        </a>
            <div class="mb-1">
              <div style="color: rgb(9, 128, 104);font-size:18px;width:fit-content;display: inline;padding: 0;" ><span >{{#if this.averageRating }}{{this.averageRating}}{{else}}5.0{{/if}} &#9733; </span></div>
             <div class="p-0" style="display: inline;"> <button class="btn button mb-1" onclick="addToCart('{{this.productData._id}}',{{user}})"
                style="color: rgb(255, 255, 255);padding: 3px;font-size: 13px;" >Add to cart</button></div></div>
          </div>
        </div>
      </div>
      {{/product_check}}
      {{/each}}
      
    </div>
   
  </div>
</section>

<section class="section-border m-2">
  <div class="container-fluid text-center">
    <h3>Fashion</h3>
    <button onclick="scroll_left2()" id="scroll-btn2-left"><div class="div2"></div><div class="div1"></div></button>
    <button onclick="scroll_right2()" id="scroll-btn2-rigt"><div class="div1"></div><div class="div2"></div></button>
    <div class="scrolling-wrapper " style="margin: 21px;" id="scroll2">
      {{#each product}}
      {{#product_check this 'Fashion'}}
      <div class="col-6 col-md-2 product" style="">
        <div class="card-outer m-1" style="border: 1px solid rgba(149, 142, 142, 0.329); overflow: hidden; border-radius: 10px;">
          <div class="card border border-shadow card-outer" >
        <a class="load" href="/detailed-view/{{this.productData._id}}" >
            <img src="/product-image/{{this.productData._id}}.jpg" class="card-img-top" style="height:12em" alt="">
            <p class="card-text">{{this.productData.name}}</p>
            <div class="card-body pt-0" style="line-height: 3px;">
              <p class="card-text">Rs.{{this.productData.price}}/-</p>
            </div>
            <div class="pt-0 description-text" style="display: block;overflow: break-word;">
              <p class="card-text mt-0">{{this.productData.description}}</p>
            </div>
        </a>
            <div class="mb-1">
              <div style="color: rgb(9, 128, 104);font-size:18px;width:fit-content;display: inline;padding: 0;" ><span >{{#if this.averageRating }}{{this.averageRating}}{{else}}5.0{{/if}} &#9733; </span></div>
             <div class="p-0" style="display: inline;"> <button class="btn button mb-1" onclick="addToCart('{{this.productData._id}}',{{user}})"
                style="color: rgb(255, 255, 255);padding: 3px;font-size: 13px;" >Add to cart</button></div></div>
          </div>
        </div>
      </div>
      {{/product_check}}
      {{/each}}
    </div>
    
    
  </div>
</section>
<div class="container-fluid">
<hr> 
</div>


<section class="section-border m-2">
  <div class="container-fluid text-center">
    <h3>Electronics</h3>
    <div class="scrolling-wrapper">
      {{#each product}}
      {{#product_check this 'Electronics'}}
     <div class="col-6 col-md-2 product">
        <div class="card-outer m-1" style="border: none; ">
          <div class="card border border-shadow card-outer">
        <a class="load" href="/detailed-view/{{this.productData._id}}" >
            <img src="/product-image/{{this.productData._id}}.jpg" class="card-img-top" style="height:13em" alt="">
            <p class="card-text">{{this.productData.name}}</p>
            <div class="card-body pt-0" style="line-height: 3px;">
              <p class="card-text">Rs.{{this.productData.price}}/-</p>
            </div>
            <div class="pt-0 description-text" style="display: block;overflow: break-word;">
              <p class="card-text mt-0">{{this.productData.description}}</p>
            </div>
        </a>
            <div class="mb-1">
              <div style="color: rgb(9, 128, 104);font-size:18px;width:fit-content;display: inline;padding: 0;" ><span >{{#if this.averageRating }}{{this.averageRating}}{{else}}5.0{{/if}} &#9733; </span></div>
             <div class="p-0" style="display: inline;"> <button class="btn button mb-1" onclick="addToCart('{{this.productData._id}}',{{user}})"
                style="color: rgb(255, 255, 255);padding: 3px;font-size: 13px;" >Add to cart</button></div></div>
          </div>
        </div>
      </div>
      {{/product_check}}
      {{/each}}
    </div>
  </div>
</section>

<section class="section-border m-2">
  <div class="container-fluid text-center">
    <h3>Most Searched</h3>
    <div class="scrolling-wrapper">
      {{#each product}}
      
      <div class="col-6 col-md-2 product">
        <div class="card-outer m-1" style="border: none; ">
          <div class="card border border-shadow card-outer">
        <a class="load" href="/detailed-view/{{this.productData._id}}" >
            <img src="/product-image/{{this.productData._id}}.jpg" class="card-img-top" style="height:13em" alt="">
            <p class="card-text">{{this.productData.name}}</p>
            <div class="card-body pt-0" style="line-height: 3px;">
              <p class="card-text">Rs.{{this.productData.price}}/-</p>
            </div>
            <div class="pt-0 description-text" style="display: block;overflow: break-word;">
              <p class="card-text mt-0">{{this.productData.description}}</p>
            </div>
        </a>
            <div class="mb-1">
              <div style="color: rgb(9, 128, 104);font-size:18px;width:fit-content;display: inline;padding: 0;" ><span >{{#if this.averageRating }}{{this.averageRating}}{{else}}5.0{{/if}} &#9733; </span></div>
             <div class="p-0" style="display: inline;"> <button class="btn button mb-1" onclick="addToCart('{{this.productData._id}}',{{user}})"
                style="color: rgb(255, 255, 255);padding: 3px;font-size: 13px;" >Add to cart</button></div></div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  
  
  <div class="custom-alert b-1" style="z-index: 5;" id="custom-alert">
    <div class="alert-content">
      <h2 id="cus-t"><img class="ic-img" src="/project-images/flashcart-icon.png" alt=""> Flashcart</h2>
      <p id="cus-m">Item already exist in cart ,item count incremented</p>
      <button id="close-alert">Close</button>
    </div>
  </div>
</section>
<footer>
        <div class="container text-center">
            <p>&copy; 2023 Flashcart. All rights reserved.</p>
            <p>Website: <a href="https://www.flashcart.com">www.flashcart.com</a></p>
            <p>Unauthorized copying, reproduction, or distribution of any content on this website, including text, images, graphics, and code, is strictly prohibited. This includes both electronic and print forms. For permissions and inquiries regarding content use, please contact us at <a href="mailto:legal@flashcart.com">legal@flashcart.com</a>.</p>
            <p>Unless otherwise indicated, all trademarks, logos, and other intellectual property displayed on this website are the property of Flashcart and are protected under intellectual property laws.</p>
            <p>By accessing and using this website, you agree to comply with all applicable copyright and intellectual property laws. You may not use, modify, or distribute the content of this website for commercial purposes without express written consent from Flashcart.</p>
            <p>Your use of this website does not grant you any rights or licenses in relation to the intellectual property rights or the content presented herein. All content on this website is provided for informational purposes and does not constitute professional advice.</p>
            <p>Flashcart reserves the right to take legal action against any unauthorized use of its copyrighted content or intellectual property.</p>
            <p>For more information about our terms of use and privacy practices, please visit our <a href="/terms-of-use">Terms of Use</a> and <a href="/privacy-policy">Privacy Policy</a> pages linked at the bottom of this website.</p>
            <p>For copyright inquiries, please contact:</p>
            <address>
                Legal Department<br>
                Flashcart<br>
                123 Main Street<br>
                City, State, ZIP<br>
                Email: <a href="mailto:legal@flashcart.com">legal@flashcart.com</a><br>
                Phone: (123) 456-7890
            </address>
        </div>
    </footer>
    <footer class="bg-dark text-light py-2 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h5>Contact the Developer</h5>
                <!-- Social Media Icons -->
                <div class="pt-2">
                    <a href="whatsapp://send?phone=+918277906114" class="text-light me-3"><i class="fab fa-whatsapp"><img src="/project-images/whatsapp.png" style="height: 20px;width: 20px;" alt=""></i></a>
                    <a href="#" class="text-light me-3"><i class="fab fa-twitter"><img src="/project-images/facebook.png" style="height: 20px;width: 20px;" alt=""></i></a>
                    <a href="https://www.instagram.com/_thahir__07/" class="text-light me-3"><i class="fab fa-instagram"><img src="/project-images/instagram.png" style="height: 20px;width: 20px;" alt=""></i></a>
                    <a href="https://www.linkedin.com/in/abu-thahir-609a96194/" class="text-light me-3"><i class="fab fa-linkedin"></i><img src="/project-images/linkedin.png" style="height: 20px;width: 20px;" alt=""></a>
                    <a href="https://thahir-07.github.io/thahir-s-personal-website/" class="text-light"><i class="fab round corner"></i><img src="/project-images/admin.jpg" style="height: 20px;width: 20px; border-radius: 10px;" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</footer>


<script>
  const customAlert = document.getElementById("custom-alert");
const closeAlertButton = document.getElementById("close-alert");
closeAlertButton.addEventListener("click", () => {
  customAlert.style.display = "none";
});
</script>
<script>
  var i=0
  document.getElementById('img1').checked=true
  var images=['/project-images/ad2.jpg','/project-images/ad3.jpg']
  var cur=document.getElementById('ad-img').src
  images.push(cur)
  setInterval(()=>{
      document.getElementById('ad-img').src=images[i]
      i++
    if(i==images.length) i=0
    if(i==0){
      document.getElementById('img1').checked=true
    }else if(i==1){
      document.getElementById('img2').checked=true
    }else{
      document.getElementById('img3').checked=true
    }
  },4000)
  document.getElementById('img1').addEventListener('change',()=>{
    document.getElementById('ad-img').src=images[2]

  })
  document.getElementById('img2').addEventListener('change',()=>{
    document.getElementById('ad-img').src=images[0]

  })
  document.getElementById('img3').addEventListener('change',()=>{
    document.getElementById('ad-img').src=images[1]

  })
</script>
<script>
  function scroll_right(){
  var scroll=document.getElementById('scroll1')
  scroll.scrollLeft+=200
  }
   function scroll_left(){
  var scroll=document.getElementById('scroll1')
  scroll.scrollLeft-=200
  }
  
  function scroll_right2(){
  var scroll=document.getElementById('scroll2')
  scroll.scrollLeft+=200
  }
   function scroll_left2(){
  var scroll=document.getElementById('scroll2')
  scroll.scrollLeft-=200
  }
</script>
<!--<script>
  function show(){
    var cont = document.getElementById('content')
    cont.style.display='block'
  }
  function hide(){
    var cont = document.getElementById('content')
    cont.style.display='none'
  }

</script>-->