<section class="section pt-1">
  <div class="container-fluid text-center">
    <div class="scrolling-wrapper">
      <div class="text-center p-1" style="display: inline-block;">
        <a href="/offer" style="text-decoration: none;"><img style="width: 80px;height: 80px;"
            src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/50379f65f7b59622.png?q=100" alt="" style="">
          <p>Offerce</p>
        </a>
      </div>
      <div class="text-center p-1" style="display: inline-block;">
        <a href="/mobiles-tablets" style="text-decoration: none;"><img style="width: 80px;height: 80px;"
            src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/0a0243119f02f7a5.png?q=100" alt="" style="">
          <p>Mobiles & Tablets</p>
        </a>
      </div>
      <div class="text-center p-1" style="display: inline-block;">
        <a href="/electronics" style="text-decoration: none;"><img style="width: 80px;height: 80px;"
            src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/da4491af4ee551d6.png?q=100" alt="" style="">
          <p style="size: 5px;">Electronics</p>
        </a>
      </div>
      <div class="text-center p-1" style="display: inline-block;">
        <a href="/tv-appliances" style="text-decoration: none;"><img style="width: 80px;height: 80px;"
            src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/7a9da987f315df35.png?q=100" alt="" style="">
          <p>TVs & Appliances</p>
        </a>
      </div>

      <div class="text-center p-1" style="display: inline-block;">
        <a href="/fashion" style="text-decoration: none;"><img style="width: 80px;height: 80px;"
            src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/f7b2a4eeb35a8c9f.png?q=100" alt="" style="">
          <p>Fashion</p>
        </a>
      </div>
      <div class="text-center p-1" style="display: inline-block;">
        <a href="/beuty" style="text-decoration: none;"><img style="width: 80px;height: 80px;"
            src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/e83a5f27b01d9a7e.png?q=100" alt="" style="">
          <p>Beuty</p>
        </a>
      </div>
      <div class="text-center p-1" style="display: inline-block;">
        <a href="/home-appliances" style="text-decoration: none;"><img style="width: 80px;height: 80px;"
            src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/a8cfa33c7206ae57.png?q=100" alt="" style="">
          <p>Home & Appliences</p>
        </a>
      </div>
      <div class="text-center p-1" style="display: inline-block;">
        <a href="/furniture" style="text-decoration: none;"><img style="width: 80px;height: 80px;"
            src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/4e0bdf8567ecb960.png?q=100" alt="" style="">
          <p>Furniture</p>
        </a>
      </div>

    </div>

  </div>

</section>
<section style="padding-top: 0;">
  <div class="container-fluid text-center" >
     <img src="https://images.picxy.com/cache/2020/6/18/c0ada3c718e235ccba0dfe97dcf1bd27.webp" id="ad-img" width="100%" height="300" alt="">
    
      <input type="radio" name="slide" class="slide" id="img1">
      <input type="radio" name="slide" class="slide" id="img2">
      <input type="radio" name="slide" class="slide" id="img3">
  </div>
</section>

<section class="">
  <div class="container-fluid text-center">
    <h3>Smart Phones</h3>
    <div class="scrolling-wrapper">
      {{#each product}}
      {{#product_check this 'smart phone'}}
      <a href="/detailed-view/{{this._id}}">
      <div class="col-6 col-md-2 product">
        <div class="card-outer m-2" style="border: none; ">
          <div class="card border border-shadow card-outer">
            <img src="/product-image/{{this._id}}.jpg" class="card-img-top" style="height:13em" alt="">
            <p class="card-text">{{this.name}}</p>
            <div class="card-body pt-0" style="line-height: 3px;">
              <p class="card-text">Rs.{{this.price}}/-</p>
            </div>
            <div class="pt-0 description-text" style="display: block;overflow: break-word;">
              <p class="card-text mt-0">{{this.description}}</p>
            </div>
            <div class="mb-2"><button class="btn button" onclick="addToCart('{{this._id}}',{{user}})"
                style="color: rgb(255, 255, 255);" cl>add to cart</button></div>
          </div>
        </div>
      </div>
      </a>
      
      {{/product_check}}
      {{/each}}
    </div>
    <hr>
  </div>
</section>

<section class="">
  <div class="container-fluid text-center">
    <h3>Electronics</h3>
    <div class="scrolling-wrapper">
      {{#each product}}
      {{#product_check this 'electronics'}}
       <a href="/detailed-view/{{this._id}}">
      <div class="col-6 col-md-2 product">
        <div class="card-outer m-2" style="border: none; ">
          <div class="card border border-shadow card-outer">
            <img src="/product-image/{{this._id}}.jpg" class="card-img-top" style="height:13em" alt="">
            <p class="card-text">{{this.name}}</p>
            <div class="card-body pt-0" style="line-height: 3px;">
              <p class="card-text">Rs.{{this.price}}/-</p>
            </div>
            <div class="pt-0 description-text" style="display: block;overflow: break-word;">
              <p class="card-text mt-0">{{this.description}}</p>
            </div>
            <div class="mb-2"><button class="btn button" onclick="addToCart('{{this._id}}',{{user}})"
                style="color: rgb(255, 255, 255);" cl>add to cart</button></div>
          </div>
        </div>
      </div>
      </a>
      {{/product_check}}
      {{/each}}
    </div>
  </div>
</section>
<div class="container-fluid">
<hr> 
</div>


<section class="">
  <div class="container-fluid text-center">
    <h3>Cloths</h3>
    <div class="scrolling-wrapper">
      {{#each product}}
      <a href="/detailed-view/{{this._id}}">
      <div class="col-6 col-md-2 product">
        <div class="card-outer m-2" style="border: none; ">
          <div class="card border border-shadow card-outer">
            <img src="/product-image/{{this._id}}.jpg" class="card-img-top" style="height:13em" alt="">
            <p class="card-text">{{this.name}}</p>
            <div class="card-body pt-0" style="line-height: 3px;">
              <p class="card-text">Rs.{{this.price}}/-</p>
            </div>
            <div class="pt-0 description-text" style="display: block;overflow: break-word;">
              <p class="card-text mt-0">{{this.description}}</p>
            </div>
            <div class="mb-2"><button class="btn button" onclick="addToCart('{{this._id}}',{{user}})"
                style="color: rgb(255, 255, 255);" cl>add to cart</button></div>
          </div>
        </div>
      </div>
      </a>
      {{/each}}
    </div>
  </div>
</section>

<section class="">
  <div class="container-fluid text-center">
    <h3></h3>
    <div class="scrolling-wrapper">
      {{#each product}}
      {{#product_check this 'electronics'}}
      <a href="/detailed-view/{{this._id}}">
      <div class="col-6 col-md-2 product">
        <div class="card-outer m-2" style="border: none; ">
          <div class="card border border-shadow card-outer">
            <img src="/product-image/{{this._id}}.jpg" class="card-img-top" style="height:13em" alt="">
            <p class="card-text">{{this.name}}</p>
            <div class="card-body pt-0" style="line-height: 3px;">
              <p class="card-text">Rs.{{this.price}}/-</p>
            </div>
            <div class="pt-0 description-text" style="display: block;overflow: break-word;">
              <p class="card-text mt-0">{{this.description}}</p>
            </div>
            <div class="mb-2"><button class="btn button" onclick="addToCart('{{this._id}}',{{user}})"
                style="color: rgb(255, 255, 255);" cl>add to cart</button></div>
          </div>
        </div>
        </div>
      </a>
      {{/product_check}}
      {{/each}}
    </div>
  </div>
  
  <div class="custom-alert" id="custom-alert">
    <div class="alert-content">
      <h2 id="cus-t">Ecommerce Application</h2>
      <p id="cus-m">Item already exist in cart ,item count incremented</p>
      <button id="close-alert">Close</button>
    </div>
  </div>
</section>
<footer class="text-center py-3 bg-black text-white">
        <p>&copy; 2023 Your Ecommerce Company. All rights reserved.<br>
        Website: <a href="http://www.yourwebsite.com">www.yourwebsite.com</a></p>
        
        <p>Unauthorized copying, reproduction, or distribution of any content on this website, including text, images, graphics, and code, is strictly prohibited. This includes both electronic and print forms. For permissions and inquiries regarding content use, please contact us at <a href="mailto:legal@yourwebsite.com">legal@yourwebsite.com</a>.</p>
        
        <p>Unless otherwise indicated, all trademarks, logos, and other intellectual property displayed on this website are the property of Your Ecommerce Company and are protected under intellectual property laws.</p>
        
        <p>By accessing and using this website, you agree to comply with all applicable copyright and intellectual property laws. You may not use, modify, or distribute the content of this website for commercial purposes without express written consent from Your Ecommerce Company.</p>
        
        <p>Your use of this website does not grant you any rights or licenses in relation to the intellectual property rights or the content presented herein. All content on this website is provided for informational purposes and does not constitute professional advice.</p>
        
        <p>Your Ecommerce Company reserves the right to take legal action against any unauthorized use of its copyrighted content or intellectual property.</p>
        
        <p>For more information about our terms of use and privacy practices, please visit our <a href="terms-of-use.html">Terms of Use</a> and <a href="privacy-policy.html">Privacy Policy</a> pages linked at the bottom of this website.</p>
        
        <p>For copyright inquiries, please contact:<br>
        Legal Department<br>
        Your Ecommerce Company<br>
        123 Main Street<br>
        City, State, ZIP<br>
        Email: <a href="mailto:abuthahircoorg07@gmail.com">abuthahircoorg07@gmail.com</a><br>
        Phone: (123) 456-7890</p>
    </footer>
<script>
  const customAlert = document.getElementById("custom-alert");
const closeAlertButton = document.getElementById("close-alert");
closeAlertButton.addEventListener("click", () => {
  customAlert.style.display = "none";
});
</script>
<script>
  var i=0
  document.getElementById('img1').checked=true
  var images=['/project-images/ad2.avif','https://img.freepik.com/free-psd/special-deal-super-offer-upto-60-parcent-off-isolated-3d-render-with-editable-text_47987-15330.jpg?w=826&t=st=1691598837~exp=1691599437~hmac=c6e5faf3471da429d48805f07e930274c75a6272beade2f1f395b0b815f05521']
  var cur=document.getElementById('ad-img').src
  images.push(cur)
  setInterval(()=>{
      document.getElementById('ad-img').src=images[i]
      i++
    if(i==images.length) i=0
    if(i==0){
      document.getElementById('img1').checked=true
    }else if(i==1){
      document.getElementById('img2').checked=true
    }else{
      document.getElementById('img3').checked=true
    }
  },4000)
  document.getElementById('img1').addEventListener('change',()=>{
    document.getElementById('ad-img').src=images[2]

  })
  document.getElementById('img2').addEventListener('change',()=>{
    document.getElementById('ad-img').src=images[0]

  })
  document.getElementById('img3').addEventListener('change',()=>{
    document.getElementById('ad-img').src=images[1]

  })
</script>